<a href="https://colab.research.google.com/github/DataTechGlacier/DSA/blob/main/summary_python_variables_and_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
color1, color2, color3 = "red", "green", "blue"

In [ ]:
print(color1, color2)

red green

In [ ]:
color4 = color5 = color6 = "magenta"
print(color4, color5, sep=", ")

magenta, magenta

In [ ]:
is_today_Saturday = False
type(is_today_Saturday)

bool

There's no lowest or highest value for integers, and there's just one int type (as opposed to short, int, long, long long, unsigned int, etc. in C/C++/Java).

In [ ]:
a_large_negative_number = -23374038374832934334234317348343
print(a_large_negative_number)
type(a_large_negative_number)

-23374038374832934334234317348343

int

In [ ]:
pi = 3.141592653589793238
print(pi)
type(pi)

3.141592653589793

float

In [ ]:
a_number = 3.0
type(a_number)

float

In [ ]:
another_number = 4.
type(another_number)

float

In [ ]:
one_hundredth = 1e-2
one_hundredth

0.01

here e indicate the power of 10

In [ ]:
a = 5
print(float(a))
print(int(pi))

5.0
3

### Type of result after arithmetic operations

In [ ]:
print(type(9 + 3.0)) # when one operand is float, result is also float
print(type(9 * 3.0))
print(type(9 * 3))
print(type(9 / 3)) # / operator always produces float
print(type(9 // 3))

<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>

In [ ]:
11 / 3, 11 // 3

(3.6666666666666665, 3)

Booleans are automatically converted to ints when used in arithmetic operations. True is converted to 1 and False is converted to 0.

In [ ]:
5 + False, 3. + True

(5, 4.0)

Any value in Python can be converted to a Boolean using the bool function.

Only the following values evaluate to False (they are often called falsy values):

1. The value False itself
2. The integer 0
3. The float 0.0
4. The empty value None
5. The empty text ""
6. The empty list []
7. The empty tuple ()
8. The empty dictionary {}
9. The empty set set()
10. The empty range range(0)

Everything else evaluates to True (a value that evaluates to True is often called a truthy value).

In [ ]:
bool(0.0), bool({}), bool(None), bool(""), bool(range(0))

(False, False, False, False, False)

In [ ]:
bool(1), bool(2.0), bool("hello"), bool([1,2]), bool((2,3)), bool(range(10))

(True, True, True, True, True, True)

### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [ ]:
nothing = None

type(nothing)

NoneType

Note that special characters like \n and escaped characters like \" count as a single character, even though they are written and sometimes printed as two characters.

In [ ]:
multiline_string = """a
b"""
print(len(multiline_string))
multiline_string

3

'a\nb'

In [ ]:
name='Ana'
list(name)

['A', 'n', 'a']

In [ ]:
list(multiline_string)

['a', '\n', 'b']

### String methods

In [ ]:
today = "monday".capitalize() # changes first character to uppercase
print(today)

today.lower(), today.upper()

Monday

('monday', 'MONDAY')

In [ ]:
today # original string is not modified

'Monday'

#### replace

Syntax
```
string.replace(oldvalue, newvalue, count)
```
<i>count</i>	Optional. A number specifying how many occurrences of the old value you want to replace. Default is all occurrences

In [ ]:
today.replace("Mon", "Tues")

'monday'

#### split

In [ ]:
days_of_week = 'sun,mon,tue,wed,thu,fri,sat'.split(",")
[d.capitalize() for d in days_of_week]

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

#### strip
removes whitespace characters from the beginning and end of a string.

In [ ]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "
a_long_line_stripped = a_long_line.strip()
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

## Python String Formatting

### 1. Formatting with % Operator.

Floating-point numbers use the format %a.bf. Here, a would be the minimum number of digits to be present in the string; these might be padded with white space if the whole number doesn’t have this many digits.

Close to this, bf represents how many digits are to be displayed after the decimal point.

In [ ]:
name = 'John'
print('Hello %s. Nice to see you here.' %name)

Hello John. Nice to see you here.

In [ ]:
x = 'looked'

print("Misha %s and %s around"%('walked',x))

Misha walked and looked around

In [ ]:
print('The value of pi is: %5.4f' %(3.141592))
print('The value of pi is: %7.4f' %(3.141592))
print('The value of pi is: %10.4f' %(3.141592))
print('The value of pi is: %1.4f' %(3.141592))

# Here 5 is the minimum width. If not satisfied, padded with spaces on the left.

The value of pi is: 3.1416
The value of pi is:  3.1416
The value of pi is:     3.1416
The value of pi is: 3.1416

In [ ]:
variable = 12
string = "Variable as integer = %d \n\
Variable as float = %f" %(variable, variable)
print (string)

Variable as integer = 12
Variable as float = 12.000000

### using format() Method

introduced with Python3 for handling complex string formatting more efficiently.

In [ ]:
print('String here {} then also {}'.format('something1','something2'))

print('{2} {1} {0}'.format('directions', 'the', 'Read'))

# by Assigning Keywords
print('a: {a}, b: {b}, c: {c}'.format(a = 1,
                                      b = 'Two',
                                      c = 12.3))

# Reusing keywords
print(
    'The first {p} was alright, but the {p} {p} was tough.'.format(p='second'))

String here something1 then also something2
Read the directions

#### Float Precision with the.format() Method

Syntax: `{[index]:[width][.precision][type]}`
The type can be used with format codes:

* ‘d’ for integers
* ‘f’ for floating-point numbers
* ‘b’ for binary numbers
* ‘o’ for octal numbers
* ‘x’ for octal hexadecimal numbers
* ‘s’ for string
* ‘e’ for floating-point in an exponent format

In [ ]:
print('The valueof pi is: %1.5f' %3.141592)
print('The valueof pi is: {0:1.5f}'.format(3.141592))

The valueof pi is: 3.14159
The valueof pi is: 3.14159

### f-String

In [ ]:
name = 'Ele'
print(f"My name is {name}.")

My name is Ele.

In [ ]:
a = 5
b = 10
print(f"He said his age is {2 * (a + b)}.")

He said his age is 30.

In [ ]:
print(f"He said his age is {(lambda x: x*2)(3)}")

He said his age is 6

#### Float precision with f-string

Syntax: `{value:{width}.{precision}}`

In [ ]:
num = 3.14159

print(f"The valueof pi is: {num:{1}.{5}}")

The valueof pi is: 3.1416

## Lists

In [ ]:
fruits = ['apple', 'banana', 'cherry']
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]
a_list[2:10]

[None, 3.14, ['apple', 'banana', 'cherry'], True]

In [ ]:
a_list[10]

IndexError: list index out of range

In [ ]:
a_list[12:10]

[]

In [ ]:
a_list[2:], a_list[:5]

([None, 3.14, ['apple', 'banana', 'cherry'], True],
 [23, 'hello', None, 3.14, ['apple', 'banana', 'cherry']])

In [ ]:
a_list[-2:-5]

[]

In [ ]:
a_list[-2:-5:-1]

[['apple', 'banana', 'cherry'], 3.14, None]

In [ ]:
a_list[-5:-2]

['hello', None, 3.14]

In [ ]:
a_list[::-1]

[True, ['apple', 'banana', 'cherry'], 3.14, None, 'hello', 23]

In [ ]:
fruits = ['apple', 'banana', 'blueberry', 'cherry', 'dates', 'apple']
fruits.remove('apple') # removes the first instance
fruits

['banana', 'blueberry', 'cherry', 'dates', 'apple']

In [ ]:
'pineapple' in fruits, 'cherry' in fruits

(False, True)

In [ ]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']
more_fruits

['banana',
 'blueberry',
 'cherry',
 'dates',
 'apple',
 'pineapple',
 'tomato',
 'guava',
 'dates',
 'banana']

### Copying list

using `.copy()` vs `==`

In [ ]:
# copy method

more_fruits_copy = more_fruits.copy()
print(more_fruits_copy)

# Modify the copy
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
print(more_fruits_copy)
print(more_fruits)  # original list is not affected

['banana', 'blueberry', 'cherry', 'dates', 'apple', 'pineapple', 'tomato', 'guava', 'dates', 'banana']
['banana', 'blueberry', 'cherry', 'dates', 'apple', 'tomato', 'guava', 'dates']
['banana', 'blueberry', 'cherry', 'dates', 'apple', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [ ]:
# using ==

more_fruits_not_a_copy = more_fruits

# make changes
more_fruits_not_a_copy.remove('pineapple')
more_fruits_not_a_copy.pop()
print(more_fruits_not_a_copy)
print(more_fruits)
# changes in one list affect the other as they both point to the same list

['banana', 'blueberry', 'cherry', 'dates', 'apple', 'tomato', 'guava', 'dates']
['banana', 'blueberry', 'cherry', 'dates', 'apple', 'tomato', 'guava', 'dates']

In [ ]:
# Reverse the order of elements in a list
more_fruits[::-1]

['dates', 'guava', 'tomato', 'apple', 'dates', 'cherry', 'blueberry', 'banana']

In [ ]:
# Sort a list of strings in alphabetical order

more_fruits.sort()
more_fruits

['apple', 'banana', 'blueberry', 'cherry', 'dates', 'dates', 'guava', 'tomato']

In [ ]:
more_fruits.sort(reverse=True)
more_fruits

['tomato', 'guava', 'dates', 'dates', 'cherry', 'blueberry', 'banana', 'apple']

## Tuples

it is not possible to add, remove, or modify values in a tuple. You can think of tuples as immutable lists.

In [ ]:
fruits = ('apple', 'cherry', 'dates')
fruits[0] = 'orange'

TypeError: 'tuple' object does not support item assignment

In [ ]:
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
# Python automatically converts comma-separated values into a tuple.

the_3_musketeers = 'Athos', 'Porthos', 'Aramis'
print(the_3_musketeers)
print(type(the_3_musketeers))

('Athos', 'Porthos', 'Aramis')
<class 'tuple'>

In [ ]:
# ways of creating tuple

single_element_tuple = 4,
print(single_element_tuple)

another_single_element_tuple = (4,)
print(another_single_element_tuple)

not_a_tuple = (4)
print(not_a_tuple)

(4,)
(4,)
4

In [ ]:
# Tuples are often used to create multiple variables with a single statement.

point = (3, 4)

point_x, point_y = point
point_x

3

In [ ]:
# convert list to tuple and vice versa

print(tuple(['one', 'two', 'three']))

list(('Athos', 'Porthos', 'Aramis'))

('one', 'two', 'three')

['Athos', 'Porthos', 'Aramis']

In [ ]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"

help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [ ]:
?a_tuple.index

### Dictionary

A dictionary is an unordered collection of items.

If a key isn't present in the dictionary, then a **KeyError** is thrown.

The `get` method also accepts a default value, returned if the key is not present in the dictionary.

In [ ]:
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)

person2.get("address") # no error

In [ ]:
person2.get("address", "Unknown")

'Unknown'

You can check <mark> whether a key is present</mark> in a dictionary using the `in` operator.

In [ ]:
'name' in person2, 'address' in person2

(True, False)

The assignment operator can also be used to add new key-value pairs to the dictionary.

In [ ]:
person2['address'] = '1, Penny Lane'
person2

{'name': 'Jane Judy',
 'sex': 'Female',
 'age': 28,
 'married': False,
 'address': '1, Penny Lane'}

In [ ]:
person2.pop('address')

'1, Penny Lane'

In [ ]:
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

The results of `keys`, `values`, and `items` look like lists. However, they <mark>don't support the indexing operator </mark> [] for retrieving elements.

In [ ]:
person2.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [ ]:
person2.values()

dict_values(['Jane Judy', 'Female', 28, False])

In [ ]:
person2.items()

dict_items([('name', 'Jane Judy'), ('sex', 'Female'), ('age', 28), ('married', False)])

In [ ]:
person2.keys()[0]

TypeError: 'dict_keys' object is not subscriptable

In [ ]:
list(person2.keys())[0]

In [ ]:
## Challenges

In [ ]:
# guess output
L = ["ab", "cd", "ef", "gh", "ij", "kl"]
m=2

for i in range(0,6,m):
  print("".join(L[i:i+m]), end=" ")

In [ ]:
# Print message based on condition

name = 'Tony'
age = 30
hasAndroidPhone = True

person1 = {'name': name, 'age': age, 'hasAndroidPhone': hasAndroidPhone}

print("{} is aged {} and owns an {}".format(
    person1['name'],
    person1['age'],
    'android phone' if person1['hasAndroidPhone'] else 'iPhone'
))

In [ ]:
print(f"""
{person1['name']} is aged {person1['age']} and owns an {'android phone' if person1['hasAndroidPhone'] else 'iPhone'}
      """
)

In [ ]:
#Use a for loop to display the type of each value stored against each key in person.

for k,v in person1.items():
  print(f'The key "{k}" has value "{v} of type {type(v)}')

The key "name" has value "Tony of type <class 'str'>
The key "age" has value "30 of type <class 'int'>
The key "hasAndroidPhone" has value "True of type <class 'bool'>

**Q10: Calculate and display the sum of all the numbers divisible by 7 between 18 and 534 i.e. `21+28+35+...+525+532`**.

In [ ]:
sum = 0

for i in range(18, 534):
  if i%7 == 0:
    sum+= i
sum

20461

In [ ]:
sum = 0
i = 18

while i<534:
  if i%7 == 0:
    sum += i
    i = i+7
  else:
    i += 1
print(sum)

20461